<div class="entry">
  <h1>There is a new enquiry from {{firstName}} {{lastName}}</h1>
  <div class="body">
    <p>Email: {{email}}</p>
    <p>Bundle: {{bundle}}</p>
    <p>Address: {{address1}}, {{address2}}, {{city}}, {{country}}</p>
  </div>
</div>